@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["HideNav"] = true; // Set a flag to hide the navbar
}
<h1>@ViewData["Title"]</h1>

<p>
    WORK IN PROGRESS PORTFOLIO<br>
    All content in this portfolio, including text, images, and design, is copyrighted and owned by me, Paula Uy.<br>
    I acknowledge that all information presented is true and accurate to the best of my knowledge.<br>
    For questions, please reach out to me at <a href="mailto:paulauy.25@gmail.com">paulauy.25@gmail.com</a>.
</p>
